<div id="<%= dom_id post %>">
  <div class="bg-white px-4 py-0.5 my-1 drop-shadow-sm hover:drop-shadow-2xl duration-300 ease-in-out">
    <div class="my-5 flex flex-row item-start shrink-0">
      <div class="p-4 w-16 h-16 bg-cyan-300 rounded-full">
        <img src="" alt="" class="object-scale-down">
      </div>
      <div class="p-4">
        <%= post.user.name %>
      </div>
    </div>
    <p class="my-5">
      <strong class="block font-medium mb-1">
        <%= post.content %>
      </strong>
    
    </p>

    <p class="my-5">
      <strong class="block font-medium mb-1">User:</strong>
      
    </p>

    <% if action_name != "show" %>
      <%= link_to "Like", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Comment', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Share', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  </div>
</div>
