<!DOCTYPE html>
<html>
  <head>
    <title>FbTop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/3e4b1fee27.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <header>
    <%= render "layouts/navbar" %>
  </header>
  <body class='flex flex-col h-screen'>
    <p class="notice"> <%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <div class="flex flex-row flex-grow">
      <%= render "layouts/sidebar" %>
        <%= yield %>
    </div>
    
  </body>
</html>
